<p id="notice"><%= notice %></p>

<section class="product">
	<h3><%= @product.name %></h3>
	<h4><%= number_to_currency @product.current_price.price %></h4>
	<p><%= @product.description %></p>
</section>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
